body
{
 font-family: "Helvetica", "Lucida Grande", sans-serif;
  background-repeat: no-repeat;
  background-image: url(imagens/fundo_login.png);
  background-size: 100%;
  background-attachment: fixed;

}

section
{
	display: flex;
	margin-top: 150px;
	margin-left: 1135px;
	height: 60vh;
	background-color: #ffffff;
	width: 25%;
	border-radius: 30px;
}

form div
{
	
	margin-left: 142px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
}

#fonte_login
{
	font-family: Hertical Serif, cursive, Helvetica;
	font-size: 22px;
	margin-left: 199px;
}
#fonte_senhanova
{
	font-family: Hertical Serif, cursive, Helvetica;
	font-size: 12px;
	display: flex;
	margin-left: 199px;
	
}

.button1 {
    background-color: #c5c5c5;
    font-size: 13px;
    border: none;
    border-radius: 15px;
    padding: 10px 12px;
	width: 35%;
	margin-left: 170px;
}
.button2 {
    background-color: #c5c5c5;
    font-size: 13px;
    border: none;
    border-radius: 15px;
    padding: 10px 12px;
	width: 35%;
	margin-left: 170px;
}


input[type=text] 
{
	border: 2px solid rgb(112, 112, 112);
	border-radius: 20px;
	width: 170px;
	height: 40px;
}
input[type=password] 
{
	border: 2px solid rgb(102, 100, 100);
	border-radius: 20px;
	width: 170px;
	height: 40px;
}