body {
    background-image: url("./img/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
  }

  .barra
{
    display: flex;
	left:0px;
	top: 0px;
	width: 18000px;
	height: 180px;
	background: #ffdb4de3;
	position: absolute;
    text-align: center;
}
    
    .logo
    {
    display: inline-block ;
    margin-left: 170px;
    margin-top: -10px;
    }
    .text
    {
        display: inline-block;
        margin-left: 98px;
        margin-top: 80px;
        font-size: 30px;
        font-weight: bold;
 
    }
    .base
    {
        width: 1380px;
        height: 1200px;
        margin-left: 240px;
        margin-top: 300px;
        background: #cf8243a9;
    }
    .video
    {
        display: inline-block;
        margin-left: 180px;
        margin-top: -30px;
    }
    .receita
    {
        display: inline-block;
        margin-left: 180px;
        margin-top: 40px;
        font-size: 40px;
        color: aliceblue;
        line-height: 60px;
    }
    .prato
    {
        display: inline-block;
        margin-left: 495px;
        margin-top: 40px;
        font-size: 50px;
        font-weight: bold;
        color: aliceblue;
    }