body
{
 font-family: "Helvetica", "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;

}


#pesquisa
{
	display: block;
	width: 100%;
	height: 35px;
	background-color: #990000;
	right: 0px;
	position: fixed;
}

.barra
{
	display: inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 5px;
}
#bf
{
	display: inline-block;
	float: left;
	margin-left: 15px;
	margin-top: 0px;
}

#cab
{
	
	display: block;
	background-color: black;
	height: 70%;
	text-align: center;
  	border: solid;
}
#menu
{
	display: block;
	background:  #b30000;
	text-align: center;
	color: black;
	font-size: 13px;
	height: 55px;
}
#links
{ 
	display: inline-block;
	word-spacing: 80px;
	font-weight: bold;
	color: white;
}
.efeito
{
	text-decoration: none;
	text-decoration: underline;
	text-decoration: none;
	color: white;
}
.corpo
{
	display: flex;
	width:900px;
	margin-left: auto;
	margin-right: auto;
	text-indent: 1em;
	line-height: 6,5mm;
	font-size: 14px;
	
}

.figura
 {
  float: left;
  border: thin silver solid;
  padding: 1em;
  left: 0px;
  margin:20px;
}
.text
{
  font-style: "Helvetica";
  font-size: smaller;
  text-indent: 0;
  margin-left: 7px;
  text-align: justify;
}
.escala 
{
  width: 100%;
}
.ator
{
	margin-left: 50px;
}
.insta
{
	display: flex;
}
.linkinsta
{
	text-decoration: none;
	text-decoration: underline;
	text-decoration: none;
	display: inline-block;
	margin-left: -11px;
}
.logo
{
	float: left;
	margin-left: 90px;
}

#rodape
{
	background-color:#d9d9d9;
	height: 200px;
}
.rod
{
	display: inline-block;
	margin-left: 4em;
	margin-top: 4em;
	font-family: "Helvetica", "Lucida Grande", sans-serif;
	font-size: 14px;
}
#dentro
{
	display: flex;
	margin top: 4em;
	margin-left: 12em;
	
}
.lista
{
	list-style-type: circle;
}
.font
{
	font-family: Brush Script Std, cursive, Helvetica;
}
