* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MENU*/

.header{
    background-color: #3B93AA;
    width: 100%;
    height: 8em;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBar {
    width: 100%;
    height: 3em;
    background-color: #4bb0c9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.navBar ul {
    list-style: none;
    display: flex;
}

.navBar ul li a{
    text-decoration: none;
    margin-left: 15vh;
    color: white;
}

.navBar a{
    
    padding: 15px 20px 16px 20px;
}

.navBar a:hover{
    background-color: #5cbed7;
}

.logo img{
    margin-left: 45px;
}

.logo img{
    height: 150px;
    width: 150px;
}

.icones{
    display: flex;
    align-items: center;
    margin-right: 10px;

}

.icones ul li  {
    list-style: none;
    display: inline;
    padding-right: 50px;
}

.icones img{
    height: 25px;
    width: 25px;
    
}


.textVendidos h2{
   margin-left: 42px;
   font-size: 2em;
   text-align: left;
   padding-top: 50px;
}

/*TODA PARTE DOS CARDS DOS LIVROS*/
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    align-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

}

.card {
    background: #fff;
    box-shadow: 0px 2px 23px #26395347;
    border-radius: 20px;
    width: 300px;
    height: 30em;
    margin: 10px 10px;
    padding: 30px;
    margin-top: 10px;

    
}

.imagem img{
    height: 15em;
    width: 10em;
    display: block;
    margin: auto;
}

.texto h3{

    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 25px;
    

}

.texto h4{
    text-align: center;
    padding: 2px 15px 2px 15px;
    border: none;
    border-bottom: 2px solid #22f145cc;
    color: black;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;

}

.button button{
    display: block;
    margin: auto;
    border: none;
    border-radius: 15px;
    background-color:#4bb0c9;
    padding: 15px 15px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.10ms ease;
}

.button  button:hover{
    background-color: #5cbed7;
    padding: 17px 17px ;
}

/*FOOTER*/

.footer{
    width: 100%;
    height: 14em;
    bottom: 0;
    margin-top: 70px;
    background-color: #3B93AA;
    padding: 70px 0;
}

.conteiner_footer{
    max-width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
}

.footer_col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer_col h4::before{
    content:'';
    position: absolute;
    left:0px;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer_col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer_col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    transition: all 0.3s ease;
}

.footer_col ul li :hover{
    padding: 8px;
}

.footer_col .social_links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    border-radius: 50%;
    margin: 0 10px 0 10px;
    text-align: center;
    line-height: 40px;
    color: white;
    transition: all 0.5s ease;
}

.footer_col .social_links a:hover{
    color: #24262b;
    background-color: white;
}

@media(max-widh: 741px){
    .footer_col{
        width: 25%;
        margin-bottom: 30px;

    }
}

@media(max-widh: 574px){
    .footer_col{
        width: 100%;
        

    }
}


