body
{
 font-family: "Helvetica", "Lucida Grande", sans-serif;
  background-repeat: no-repeat;
  background-color: #3B93AA;
  background-size: 100%;
  background-attachment: fixed;

}


section
{
	display: flex;
	margin-top: 200px;
	margin-left: 478px;
	height: 50vh;
	background-color: #ffffff;
	width: 50%;
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.301), 0 6px 20px 0 rgba(0, 0, 0, 0.356);
}

form div
{
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	
}



#logo_cadastro
{
	border-radius: 50%;
	width: 130px;
	margin-top: -7%;
	margin-left: 384px;
	display: inline;
}



#posicao_nome
{
    display: inline-block;
    margin-left: 230px;
}
#posicao_sobrenome
{
    display: inline-block;
    margin-left: 20px;
}
#posicao_email
{
    display: inline-block;
    margin-left: 230px;
}

#posicao_senha
{
    display: inline-block;
    margin-left: 230px;
}

#fonte_cadastro
{
	font-family: Hertical Serif, cursive, Helvetica;
	font-size: 22px;
	margin-left: 398px;
}


.button1 {
    background-color: #c5c5c5;
    font-size: 13px;
    border: none;
    border-radius: 15px;
    padding: 10px 12px;
	width: 12%;
	margin-left: 390px;
	transition-duration: 0.4s;
	margin-top: 30px;
}

.button1:hover
{
	background-color: #3B93AA;
	color: white;
}


.links
{
	text-decoration: none;
	color: black;
}




input[type=text] 
{
	border: 2px solid rgb(112, 112, 112);
	border-radius: 20px;
	width: 200px;
	height: 40px;
}
input[type=email] 
{
	border: 2px solid rgb(112, 112, 112);
	border-radius: 20px;
	width: 433px;
	height: 40px;
}
input[type=password] 
{
	border: 2px solid rgb(112, 112, 112);
	border-radius: 20px;
	width: 200px;
	height: 40px;
}